body,html{
    height: 100%;
}
.intro{
    height: 60%;
    background-image: url("/img/logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.top-nav{
    background-color: rgba(255, 255, 255, 0.226);
    height: 10%;
}
.info{
    height: 90%;
}
.opzioni{
    height: 40%;
    width: 100%;
    color: rgba(36, 36, 36, 0.616);
}
.top-nav, .research{
    color: rgba(36, 36, 36, 0.616);
}